<footer class="footer d-flex align-items-center">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-sm-6">
                <p class="m-0 mb-0">texto</p>
                <p class="m-0 mb-0">API Rick adn Morty</p>
            </div>
            <div class="col-sm-6">
                <div class="text-right">
                    <img src="assets/img/rickandmortyimage.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>