@font-face {
  font-family: montserratRegularItalic;
  src: url("./MontserratRegularItalic.ttf") format("truetype");
}

@font-face {
  font-family: latoRegularItalic;
  src: url("./LatoRegularItalic.ttf") format("truetype");
}

@font-face {
  font-family: latoLightItalic;
  src: url("./LatoLightItalic.ttf") format("truetype");
}
