.contentLocation {
    min-height: calc(100vh - 350px);
    .nameCharacter {
        font-family: 'montserratRegularItalic';
        font-size: 1rem;
        height: 42px;
        overflow: hidden;
    }
}