.location-items {
    border-left: 10px solid;
    height: 260px;
    overflow: hidden;
    font-family: 'montserratRegularItalic',serif;
    .location-text-status {
        font-family: 'latoRegularItalic', serif;
        font-size: 0.7rem;
    }
    .location-text-data {
        font-size: 0.9rem;
    }
    .location-text-tittle {
        font-family: 'latoLightItalic', serif;
    }
}

.paginate {
    border: none;
    background: none;
    .icon {
        width: 50px;
        border: none;
    }
    .icon-previous {
        transform: scaleX(-1);
    }
}
        