.location-items {
  border-left: 10px solid;
  height: 260px;
  overflow: hidden;
}

.paginate {
  border: none;
  background: none;
  .icon {
    width: 50px;
    border: none;
  }
  .icon-previous {
    transform: scaleX(-1);
  }
}