.episode {
    font-family: 'montserratRegularItalic', serif;
    .episode-font-tittle{
        font-family: 'latoLightItalic', serif;
    }
    .episode-data {
        padding: 0 0 0 2.25rem;
    }
    .episode-size-font {
        font-size: 1.30rem;
    }
}