.episode {
    font-family: 'montserratRegularItalic', serif;
    .fontTittle{
        font-family: 'latoLightItalic', serif;
        
    }
    .dataEpisode {
        padding: 0 0 0 2.25rem;
    }
    .sizeFontName {
        font-size: 1.30rem;
    }
}