<h1>PAGE CHARACTER</h1>
<div class="character">
<div class="container">
    <div class="row">
        <div class="mb-2 col-sm-12 d-flex justify-content-center" *ngIf="$characterCall | async; let character">
            <div class="col-sm-9">
                <h1 class="">{{character.name}}</h1>
            </div>
        </div>  
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="mb-5 col-sm-12 d-flex justify-content-center" *ngIf="$characterCall | async; let character">
            <div class="col-sm-9 p-0 card shadow bg-white">
                <div class="character card-body">
                    <div class="character-info">
                        <p class="card-text">STATUS {{character.status}}</p>
                        <p class="card-text">SPECIES {{character.species}}</p>
                        <p class="card-text">TYPE {{character.type}}</p>
                        <p class="card-text">GENDER {{character.gender}}</p>
                        <p class="card-text">ORIGIN {{character.origin.name}}</p>
                        <p class="card-text">LOCATION {{character.location.name}}</p>
                    </div>
                    <div class="character-image p-0">
                        <img class="bg-white rounded" src="{{character.image}}" alt="">
                    </div>
                </div>
            </div>
        </div>  

    </div>
</div>
</div>
<app-episode></app-episode>
        