/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bootstrap/scss/bootstrap';
@import './assets/fonts/customfont.css';
@import './assets/components/fonts.scss';
@import './assets/components/card.scss';


body{
    background: #fefbf5;
}

a {
    color: #000;
    &:hover{
        text-decoration: none;
        color: #000;
    }
}
